<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{STATIC_URL}}img/LOGO-title.png">
    <title>Creative point</title>
    <link rel="stylesheet" href="{{STATIC_URL}}css/components.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/icons.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/responsee.css">
    <link rel="stylesheet" href="{{STATIC_URL}}owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="{{STATIC_URL}}owl-carousel/owl.theme.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/lightcase.css">
    <!-- CUSTOM STYLE -->
    <link rel="stylesheet" href="{{STATIC_URL}}css/template-style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,700,900&amp;subset=latin-ext" rel="stylesheet">
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui.min.js"></script>
  </head>

  <body class="size-1280">
    <!-- PREMIUM FEATURES BUTTON -->

    <!-- HEADER -->
    <header role="banner" class="position-absolute">
      <!-- Top Navigation -->
      <nav class="background-transparent background-primary-dott full-width sticky">          
          <!-- mobile version logo -->              
          <div class="logo hide-l hide-xl hide-xxl">
             <a href="index.html" class="logo">
              <!-- Logo Dark Version -->
              <img class="logo-dark" src="{{STATIC_URL}}img/LOGO BLUE.png" alt="" style="left: auto;top: -14px;">
            </a>
          </div>
          
          <div class="top-nav" > 
  
            <!-- left menu items -->
            <div class="top-nav left-menu">
               <ul class="right top-ul chevron">
                  <li><a href="/">Home</a></li>
                  <li><a href="/aboutus">About Us</a></li>
                  <li><a href="/portfolio">Portfolio</a></li>
               </ul>
            </div>
            
            <!-- logo -->
            <ul class="logo-menu">
              <a href="index.html" class="logo">
                <!-- Logo White Version -->
                <img class="logo-white" src="{{STATIC_URL}}img/White.png" alt="">
                <!-- Logo Dark Version -->
                <img class="logo-dark" src="{{STATIC_URL}}img/LOGO BLUE.png" alt="" style="height: 66px;top: 4px;">
              </a>
            </ul>
            
            <!-- right menu items -->
            <div class="top-nav right-menu">
               <ul class="top-ul chevron">
                  <li>
                    <a>Our Services</a>
                    <ul>
                      <li><a href="/#services">Digital Printing</a></li>
                      <li><a href="/#services">Signage</a></li>
                      <li><a href="/#services">Designing/Branding</a></li>
                      <li><a href="/#services">Promotional Gifts</a></li>
                    </ul>
                  </li>
                  <!-- <li><a href="gallery.html">Gallery</a></li> -->
                  <li><a href="/contact">Contact</a></li>
               </ul> 
            </div>
          </div>
        </nav>
    </header>

    <!-- MAIN -->
    <main role="main">
      <article>
        <!-- Header -->
        <header class="section background-image text-center" style="background-image:url({{STATIC_URL}}img/img-05.jpg)">
          <h1 class="animated-element slow text-extra-thin text-white text-s-size-30 text-m-size-40 text-size-50 text-line-height-1 margin-bottom-30 margin-top-130">
            About Us
          </h1>


          <!-- white full width arrow object -->
          <img class="arrow-object" src="{{STATIC_URL}}img/arrow-object-white.svg" alt="">
        </header>

        <!-- Section 1 -->
        <section class="section background-white">
          <div class="line text-center">
            <i class="icon-sli-heart text-primary text-size-40"></i>
            <h2 class="text-dark text-size-50 text-m-size-40">Who <b>We Are?</b></h2>
            <hr class="break background-primary break-small break-center margin-bottom-50">
          </div>
          <div class="line">
            <div class="margin2x">
              <div class="m-12 l-6 margin-m-bottom-30">
                <img src="{{STATIC_URL}}img/img-01.jpg" alt="">
              </div>
              <div class="m-12 l-6">
                <h3 class="animated-element text-strong text-size-20 text-line-height-1 margin-bottom-20">What We Do for You?</h3>
                <p class="animated-element slow margin-bottom-30">We have been helping businesses to attract more customers for over 10 years.
Specialising in graphic design and printing, we offer a wide variety of services to help companies promote themselves, in one place. Delivered with personal guidance and support you can rely on. Achieving quality results, every time.
Our team is made up of friendly and talented graphic designers, marketeers and print professionals. Together, we have all the expertise, experience and knowledge to provide you with outstanding service that is of the highest quality.
                </p>

                <h3 class="animated-element text-strong text-size-20 text-line-height-1 margin-bottom-20">Where Marketing Starts</h3>
                <p class="animated-element slow margin-bottom-30">Our experience in printing has taught us how important professional graphic design is in marketing. And we are proud to offer you our very best. You can rely on us to create custom designed projects for your print, packaging, and electronic media marketing needs. Along with great design comes precise production, attentive service, innovative solutions, and effective project management. You can trust us to be the long-term design partner that will help you reach all the right people in all the right ways.
                </p>
              </div>
            </div>
          </div>
        </section>
      </article>
    </main>

    <!-- FOOTER -->
    <footer>
        <!-- Social -->
        <div class="background-primary padding text-center">
          <a href="/"><i class="icon-facebook_circle text-size-25 text-dark"></i></a> 
          <a href="/"><i class="icon-twitter_circle text-size-25 text-dark"></i></a>
          <a href="/"><i class="icon-google_plus_circle text-size-25 text-dark"></i></a>
          <a href="/"><i class="icon-instagram_circle text-size-25 text-dark"></i></a> 
          <a href="/"><i class="icon-linked_in_circle text-size-25 text-dark"></i></a>                                                                       
        </div>
        <!-- Main Footer -->
        <section class="section background-dark">
          <div class="line"> 
            <div class="margin2x">
              <div class="s-12 m-6 l-3 xl-5 ">
                 <h4 class="text-white text-strong">Our Mission</h4>
                 <p class="text-size-12">Our print solutions create communication for your band through designs that work in synergy with your brand identity
                 </p>
              </div>
              <div class="s-12 m-6 l-3 xl-3 right">
                 <h4 class="text-white text-strong margin-m-top-30">Contact Us</h4>
                  <p><i class="icon-sli-screen-smartphone text-primary"></i> +971 6 5255309</p>
                  <p><i class="icon-sli-screen-smartphone text-primary"></i> +971 50 6330092</p>
                  <p class="text-primary-hover"><i class="icon-sli-social-google text-primary"></i> info@cpointadv.com</p>
                  <p class="text-primary-hover"><i class="icon-sli-envelope text-primary"></i> 95890,Sharjah,UAE</p><br>
              </div>
            </div>  
          </div>    
        </section>
        <div class="background-dark">
           <div class="line">
              <hr class="break margin-top-bottom-0" style="border-color: #777;">
           </div>
        </div>
        <!-- Bottom Footer -->
        <section class="padding-2x background-dark full-width">
          <div class="line">
            <div class="s-12 l-6">
              <p class="text-size-12">Copyright 2019, Creative Point Advertising LLC </p>
            </div>
          </div>  
        </section>
      </footer>
    <script type="text/javascript" src="{{STATIC_URL}}js/responsee.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/template-scripts.js"></script>
  </body>
</html>
